@model hypster_news.ViewModels.getPostViewModel

@{
    ViewBag.Title = Model.post.post_title;
}





<script type="text/javascript">
    $(document).ready(function () {
        RenderSong();
    });
    $(window).resize(function () {
        RenderSong();
    });



    function RenderSong() {
        var margin_left = 0;
        var cont_width = 1024;

        if ($(window).width() > 1024) {
            margin_left = $(window).width() - 1024 - 44;
            cont_width = 1024 + 30 + (margin_left / 2) - 15;
        } else {
            margin_left = 0;
            cont_width = 1024;
        }


        //===================================================================
        $("#listenSlide1").css("float", "right");
        $("#listenSlide1").css("width", cont_width + "px");
        //===================================================================


        //===================================================================
        $("#listenSlide2").css("float", "left");
        $("#listenSlide2").css("width", cont_width + "px");
        //===================================================================

    }

</script>






<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight" style=" min-height:350px;">


    <div style=" float:left; width:1024px;">



        <div class="Post_mainCont">

            <div style=" float:left; width:100%; height:1px;">
                <!-- SOCIAL BUTTONS -->
                <div style=" position:relative; top:50px; left:-1000px;">
                    
                    
                    <div id="sosialHolder1" onmouseover="this.style.display = 'none'; $('#SNR_BtnHolder_@Model.post.post_id').css('display','block');">
                        <div class="SI_Cont_google"></div>
                        <div class="SI_Cont_twitter"></div>
                        <div class="SI_Cont_facebook"></div>
                    </div>

                    <div id="SNR_BtnHolder_@Model.post.post_id" style=" float:right; width:90px; display:none;">
                    
                        <div class="SI_Cont_facebook1">
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F@(System.Configuration.ConfigurationManager.AppSettings["newsHostName"])%2Fpost%2F@(@Model.post.post_guid)&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
                        </div>

                        <div class="SI_Cont_twitter1">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/post/@Model.post.post_guid" data-text="Hypster TV: @Model.post.post_title">Tweet</a>
                            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
                        </div>

                        <div class="SI_Cont_google1">
                            <div class="g-plusone" data-size="medium" data-href="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/post/@Model.post.post_guid"></div>
                            <script type="text/javascript">  (function () { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();</script>
                        </div>

                    </div>

                </div>
                <!-- SOCIAL BUTTONS -->
            </div>


    
            <article id="post-@Model.post.post_guid">
    
                <h2 style=" margin-top:0px;">
                    @Model.post.post_title
                </h2>

                <div style=" min-height:250px; font-size:16px; font-weight:lighter; margin-top:5px;">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.post.post_content))
                </div>


                <div style=" float:left; width:100%; margin-top:10px;">
                    <div style=" float:left; margin-top:17px;">
                        <!-- Lockerz Share BEGIN -->
                        <a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"/></a>
                        <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
                        <!-- Lockerz Share END -->
                    </div>

                    <div style=" float:right; margin-top:17px; color:#f4f4ad;">
                        Posted on <b>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.post.post_date.Value.Month) @Model.post.post_date.Value.Day, @Model.post.post_date.Value.Year</b>
                    </div>
                </div>

            </article>
        </div>




    </div>


</div>
</div>











<div class="boxContLeft">
    <div id="listenSlide2" class="slideLeft" style=" min-height:250px;">



    <div style=" float:right; width:1024px;">
        

        <div class="PostNav_cont">
            <a class="PrevPost" href="/postAct/prevPost?PID=@Model.post.post_id">PREV POST</a>
            <a class="HomePost" href="/">NEWS HOME</a>
            <a class="NextPost" href="/postAct/nextPost?PID=@Model.post.post_id">NEXT POST</a>
        </div>



        <div class="PostComm_cont" >
            <div class="CommHeader">Comments</div>

            <div style=" float:left; width:100%; font:300 17px/1.8 'Helvetica Neue',Helvetica,Arial,sans-serif; text-align:right;">
                @using (Html.BeginForm("SubmitPostComment", "postComment", FormMethod.Post))
                {
                    <input type="hidden" id="newsPost_ID" name="newsPost_ID" value="@Model.post.post_id" />
                    <input type="hidden" id="post_guid" name="post_guid" value="@Model.post.post_guid" />
            
            
                    if (Request.IsAuthenticated)
                    {
                        <textarea type="text" id="comment" name="comment" style=" width:100%; height:70px; overflow:hidden; background-color:#747e83; color:#FFFFFF; border:none; border-radius:2px;" ></textarea>
                        <input type="submit" value="Post" style=" width:180px; background-color:#747e83; border:1px solid #747e83; color:#FFFFFF;" />
                    }
                    else
                    {
                        <textarea type="text" id="comment" name="comment" disabled="disabled" style=" width:100%; height:70px; overflow:hidden; background-color:#747e83; color:#FFFFFF; border:1px solid #747e83; border-radius:2px;" ></textarea>
                        <input type="button" value="Login to Comment" onclick="window.location='/account/login?ReturnUrl=/post/@Model.post.post_guid';" style=" width:130px; background-color:#747e83; border:1px solid #747e83; color:#FFFFFF;" />
                    }
                }
            </div>

        </div>



        @foreach (var item in Model.comments_list)
        {
            <div style=" float:left; width:96%; padding:4px 2% 4px 2%; margin-top:5px; border-radius:2px; background-color:#858c90; text-align:left; ">
                <div style=" float:left; font-size:13px;">@item.comment</div>
                <div style=" float:right; text-align:right; font-size:13px; color:#f4f4ad;">@item.userName, <span style=" font-size:11px;">@item.postDate</span></div>
            </div>
        }   

        


        <div style=" float:left; width:100%; margin-top:15px; ">

            <div style="float:left; width:728px; height:90px; background-color:#858c90; border:3px solid #858c90; border-radius:2px;">
                <div id="TopAdd1"></div>
                <!-- 06_10 -->
                <script type="text/javascript">
                    $(document).ready(function () {
                        document.getElementById("TopAdd1").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default\" width=\"728\" height=\"90\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";
                    });
                </script>
            </div>


            <div onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]/page/1';" style=" float:left; width:265px; height:90px; margin-left:15px; background-color:#858c90; border:3px solid #858c90; border-radius:2px; line-height:90px; text-align:center; font-size:27px; cursor:pointer;">
                Hypster Videos
            </div>

        </div>




    
    </div>



</div>
</div>